<table cellspacing="0" cellpadding="0" align="top" style="width: 100%; border-collapse: collapse; padding: 0px; float: none; display: table;" frame="void" rules="none" class=" htmtableborders">
    <tbody>
      <tr>
        <td>
        	<%= render "header" %>
        </td>
      </tr>
      <tr>
        <td>
        	<%= link_to 'Вернуться к информации о проекте', :controller => "science", :action => "project_info", :key => @project["key"] %>
        	<br/></br/>
        	<% if (not @error) %>
				    <table cellpadding="5" style="width: 100%; border-collapse: collapse; display: table;" class=" htmtableborders"> 
				      <tbody>
				        <tr>
				          <td style="text-align: right; vertical-align: top;">Участники проекта:</td> 
							<%= form_tag(:action => "members_delete") do %>
							<%= hidden_field_tag 'key', @project["key"] %>  
				          <td style="text-align: left; vertical-align: top;">
				          	<%= select_tag("list", options_from_collection_for_select(@members, "id", "name"), :size => @members.size) %>
				          	<%= submit_tag("Удалить") %>
				          </td>
				          	<% end %> 
				        </tr> 
				        <tr>
				          <td style="text-align: right; vertical-align: top;">Добавить участника:</td> 
				          <td style="text-align: left; vertical-align: top;">
							<%= form_tag(:action => "members_add") do %>
							<%= hidden_field_tag 'key', @project["key"] %>  
				            <%= text_field_tag("name", "", :size => 120) %> 
				          </td> 
				        </tr> 
				        <tr> 
				          <td>&nbsp;</td>
				          <td><%= submit_tag("Сохранить") %></td>
	          				<% end %>
				        </tr>
				      </tbody> 
				    </table> 
			<% else %>
				<font size=+2 color=red>Проект не найден</font><br />
			<% end %>
		</td>
      </tr>
    </tbody>
</table>
