<script language="JavaScript1.1">
	function getSelectedText(elementId)
	{
		var elt = document.getElementById(elementId)
		
		if (elt.selectedIndex == -1)
			return null;
			
		return elt.options[elt.selectedIndex].text;
	}

	function onDeleteButton(form, txt)
	{
		if (txt != null)
		{
			if (confirm("Удалить участника " + txt + " из проектной группы?"))
			{
				form.submit()
			}
		}
		else
		{
			alert("Не выбран участник для удаления")
		}
	}
</script>

<table cellspacing="0" cellpadding="0" align="top" style="width: 100%; border-collapse: collapse; padding: 0px; float: none; display: table;" frame="void" rules="none" class=" htmtableborders">
    <tbody>
      <tr>
        <td>
        	<%= render "header" %>
        </td>
      </tr>
      <tr>
        <td>
        	<%= link_to 'Вернуться к информации о проекте', :controller => "science", :action => "project_info", :key => @project["key"] %>
        	<br/></br/>
        	<% if (not @error) %>
				    <table cellpadding="5" style="width: 100%; border-collapse: collapse; display: table;" class=" htmtableborders"> 
				      <tbody>
				        <tr>
				          <td style="text-align: right; vertical-align: top;">Участники проекта:</td> 
							<%= form_tag(:action => "members_delete") do %>
							<%= hidden_field_tag 'key', @project["key"] %>  
				          <td style="text-align: left; vertical-align: top;">
				          	<%= select_tag("list", options_from_collection_for_select(@members, "id", "name"), :size => @members.size) %>
				          	<input type="button" value="Удалить" onclick='onDeleteButton(this.form, getSelectedText("list"))' />
				          	<!--<%= submit_tag("Удалить", :confirm => 'Шо?') %>-->
				          </td>
				          	<% end %>
				        </tr> 
				        <tr>
				          <td style="text-align: right; vertical-align: top;">Добавить участника:</td> 
				          <td style="text-align: left; vertical-align: top;">
							<%= form_tag(:action => "members_add") do %>
							<%= hidden_field_tag 'key', @project["key"] %>  
				            <%= text_field_tag("name", "", :size => 120) %> 
				          </td> 
				        </tr> 
				        <tr> 
				          <td>&nbsp;</td>
				          <td><%= submit_tag("Сохранить") %></td>
	          				<% end %>
				        </tr>
				      </tbody> 
				    </table> 
			<% else %>
				<font size=+2 color=red>Проект не найден</font><br />
			<% end %>
		</td>
      </tr>
    </tbody>
</table>
