<% if (not @error) %>
	<%= link_to 'Вернуться к списку моих проектов', :controller => "science", :action => "my_projects" %>
	<% if @editable %> 
		&nbsp;|&nbsp;<%= link_to 'Редактировать информацию о проекте', :controller => "science", :action => "project_edit", :key => @project["key"] %>
		&nbsp;|&nbsp;<%= link_to 'Редактировать проектную группу', :controller => "science", :action => "members_edit", :key => @project["key"] %>
		&nbsp;|&nbsp;<%= link_to 'Возврат излишних средств', :controller => "science", :action => "asset_return", :key => @project["key"] %>
	<% end %>
<br /><br />
	<%= render "project_table" %>
    <br /><br />
    <% if @editable %> <%= link_to "Начать новое исследование", :action => "research_new", :key => @project["key"] %><br /><% end %>
   Исследования:<br /> 
          	<table border=1 cellpadding="3" style="width: 100%; border-collapse: collapse; display: table;" class=" htmtableborders">
          		<tr>
          			<td><center><b>Название исследования</b></center></td>
          			<td><center><b>Исследовательская группа</b></center></td>
          			<td width=10%><center><b>Баланс исследования</b></center></td>
          			<td><center><b>Состояние</b></center></td>
          		</tr>
          		<% for research in @research_list %>
          		<tr>
          			<td><%= link_to research["name"], :action => "research_info", :id => research["id"], :key => @project["key"] %></td>
          			<td><%= research["members"] %></td>
          			<td align=right><tt><%= research["balance"] %>&nbsp;</tt></td>
          			<td><%=
          				@status = research["status"] 
          				render "research_status" %>
          			</td>
          		</tr>
          			
          		<% end %>
          	</table>
          </td> 

    
	<% if @editable %> 
	    
	<% end %> 
<% else %>
	<font size=+2 color=red>Проект не найден</font><br />
	<%= link_to 'Вернуться к списку проектов', :controller => "science", :action => "main" %>
<% end %>
