<% if (not @error) %>
	<% if @research["id"] == 0 %>
		<%= link_to 'Вернуться к информации о проекте', :controller => "science", :action => "project_info", :key => @research["project_key"] %>
	<% else %>
		<%= link_to 'Вернуться к информации об исследовании', :controller => "science", :action => "research_info", :id => @research["id"], :key => @research["project_key"] %>
	<% end %>
	<%= form_tag(:action => "research_entry_write") do %>
		<%= hidden_field_tag 'id', @research["id"] %>  
	    <table cellpadding="5" style="width: 100%; border-collapse: collapse; display: table;" class=" htmtableborders"> 
	      <tbody>
	        <tr> 
	          <td style="text-align: right; vertical-align: top;">Запись хода исследования:</td> 
	          <td style="text-align: left; vertical-align: top;">
	            <%= text_area_tag("entry", "", :size => "90x10") %><br/>
                <%= check_box_tag("finished", "yes") %>Счесть исследование завершённым
	            	            <font size=-1><br>Хозяйке на заметку: в описаниях и комментах возможны тэги HTML &lt;s>, &lt;b>; и &lt;i><br>
	            Пример:
	            <table border=1>
	            	<tr>
	            		<th>Что написано в поле ввода</th>
	            		<th>Что получится в результате</th>
	            	</tr>
	            	<tr>
	            		<td>Влияние прикроватного &lt;i>светильника&lt;/i></td>
	            		<td>Влияние прикроватного <i>светильника</i></td>
	            	</tr>
	            	<tr>
	            		<td>Влияние прикроватного &lt;b>светильника&lt;/b></td>
	            		<td>Влияние прикроватного <b>светильника</b></td>
	            	</tr>
	            	<tr>
	            		<td>Влияние прикроватного &lt;s>светильника&lt;/s></td>
	            		<td>Влияние прикроватного <s>светильника</s></td>
	            	</tr>
	            	<tr>
	            		<td>Влияние прикроватного &lt;i>&lt;b>&lt;s>светильника&lt;/s>&lt;/b>&lt;/i></td>
	            		<td>Влияние прикроватного <i><b><s>светильника</s></b></i></td>
	            	</tr>
	            </table>
	           </font>
 
	          </td>
	        </tr>
	        <tr>
	          <td>&nbsp;</td>
	          <td><%= submit_tag("Сохранить") %></td>
	        </tr>
	      </tbody> 
	    </table> 
	<% end %>
<% else %>
	<font size=+2 color=red>Мсследование не найдено</font>
<% end %>
