<script language="JavaScript1.1">
	function onSend(text, form)
	{
		if (confirm(text))
		{
			form.submit();
		}
	}
</script>

<% if @research != nil %>
	<%= link_to 'Вернуться к информации о проекте', :controller => "science", :action => "project_info", :key => @research["project_key"] %>
	<% if @editable %> 
		&nbsp;|&nbsp;<%= link_to 'Редактировать информацию об исследовании', :controller => "science", :action => "research_edit", :id => @research["id"] %>
		&nbsp;|&nbsp;<%= link_to 'Редактировать исследовательскую группу', :controller => "science", :action => "research_members_edit", :id => @research["id"] %> 
	<% end %>
<br /><br />


	<%= render "research_table" %>


    <br />
    <% if @editable and @research["status"] == 'A' %>
		<%= form_tag(:action => "research_submit") do %>
		<%= hidden_field_tag 'id', @research["id"] %>  
    	<input type="button" id="send" name="send" value="Отправить на рассмотрение научной комиссии" onclick='onSend("Отправить исследование на рассмотрение научной комиссии?", this.form)' /><br />
    	<% end %>
    <% end %>
    
    <% if @research["status"] == '$' %>
    	<% if @research["balance"]< 0 and @project["money"] + @research["balance"] >= 0 %>
			<%= form_tag(:action => "research_finance") do %>
				<%= hidden_field_tag 'id', @research["id"] %>
				<%= hidden_field_tag 'balance', @research["balance"] %>
		    	<input type="button" id="finance" name="finance" value="Финансировать исследование" onclick='onSend("Профинансировать исследование полностью на сумму $" + <%= @research["balance"].abs %>, this.form)' /><br />
    		<% end %>
    	<% else %>
    		Не хватает средств для финансирования
    	<% end %>
    <% end %>
    
    <% if @research["status"] == 'S' and @team_member %>
		<%= form_tag("research_add_entry", :method => "GET") do %>
		<%= hidden_field_tag 'id', @research["id"] %>
		<%= submit_tag("Добавить информацию") %>
    	<% end %>
    <% end %>
    
    <% if @entries != nil and @entries.size > 0 %>
    	<br />
    	Ход исследования:<br />
    	<% for @entry in @entries %>
		    <table border=1 cellpadding="5" style="width: 100%; border-collapse: collapse; display: table;" class=" htmtableborders"> 
		      <tbody>
		        <tr>
		        	<td align=left><b><%= @entry["name"] %></b></td>
		        </tr>
		        <tr>
		        	<td align=left>
		        		<%=raw sanitize(simple_format(@entry["entry"]), :tags => %w(br s i b) ) %>
					</td>
		        </tr>
		      </tbody>
		    </table>
		    <br />
        <% end %>
    <% end %>
    
<% else %>
	<%= link_to 'Вернуться к списку проектов', :controller => "science", :action => "main" %>
<% end %>
