    <table border=1 cellpadding="5" style="width: 100%; border-collapse: collapse; display: table;" class=" htmtableborders"> 
      <tbody>
        <tr>
          <td style="text-align: right; vertical-align: top; width: 15%">Состояние:</td> 
          <td style="text-align: left; vertical-align: top;"><%=
          				@status = @research["status"] 
          				render "research_status" %></td> 
        </tr> 
        <tr>
          <td style="text-align: right; vertical-align: top; width: 15%">Код проекта:</td> 
          <td style="text-align: left; vertical-align: top;"><%= @research["project_key"] %></td> 
        </tr> 
        <tr>
          <td style="text-align: right; vertical-align: top; width: 15%">Название исследования:</td> 
          <td style="text-align: left; vertical-align: top;"><%= @research["name"] %></td> 
        </tr> 
        <tr>
          <td style="text-align: right; vertical-align: top; width: 15%">Баланс исследования:</td> 
          <td style="text-align: left; vertical-align: top;">$<%= @research["balance"] %></td> 
        </tr> 
        <tr>
          <td style="text-align: right; vertical-align: top; width: 15%">Описание исследования:</td> 
          <td style="text-align: left; vertical-align: top;">
            <%=raw sanitize(simple_format(@research["description"]), :tags => %w(br p i b) ) %> 
          </td> 
        </tr> 
        <tr> 
          <td style="text-align: right; vertical-align: top; width: 15%">Исследовательская группа:</td> 
          <td style="text-align: left; vertical-align: top;">
            <%= if @research["members"].instance_of? Array
            		@research["members"].join(", ")
            	end  %> 
          </td> 
        </tr> 
      </tbody> 
    </table>
